<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
     	<div class="main-header-top">
     		<a href="" class="main-header-logo"><img src="./assets/images/logo.png" alt=""></a>
     	</div>
		<div class="main-header-middle">
			<div class="main-content">
				<div class="container">
				<h3>Городской портал о футболе и не только.</h3>
				</div>
			</div>
		</div>
		<div class="main-header-bottom">
			<div class="main-header-bottom-top">
				<div class="container">
					<div class="main-header-b-t-menu">
						<ul>
							<li><a href="">ЗНАМЯ ТРУДА</a></li>
							<li><a href="">Любители</a></li>
							<li><a href="">Молодёжка</a></li>
							<li><a href="">Детско-юношеский</a></li>
							<li><a href="">Исторические материалы</a></li>
							<li class="item-has-child">
								<a href="">Ещё</a>
								<ul class="sub-menu">
									<li><a href="">Ветеранский</a></li>
									<li><a href="">Дворовая лига</a></li>
								</ul>	
							</li>
						</ul>
					</div>
					<div class="main-header-user">
						<div class="main-header-search"><img src="./assets/images/search.svg" alt=""></div>
						<div class="main-header-lk"><a href="">Войти / Регистрация</a></div>
					</div>
				</div>
			</div>
			<div class="main-header-bottom-bottom">
				<div class="container">
				<div class="main-header-b-b-menu">
					<ul>
						<li><a href="">Новости</a></li>
						<li><a href="">Live-табло</a></li>
						<li><a href="">Фото/Видео</a></li>
						<li><a href="">Блоги</a></li>
						<li><a href="">Персоны</a></li>
						<li><a href="">Стадионы</a></li>
						<li><a href="">Детские футбольные школы</a></li>
					</ul>
				</div>
				<div class="main-header-b-b-link">
					<a href="">
							<svg class="pulse-svg" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    						  <circle class="circle first-circle" fill="#000" cx="9" cy="9" r="9"></circle>
    						  <circle class="circle second-circle" fill="#000" cx="9" cy="9" r="8"></circle>
    						  <circle class="circle third-circle" fill="#000" cx="9" cy="9" r="6"></circle>
    						  <circle class="circle" fill="#000" cx="9" cy="9" r="4"></circle>
    						</svg>
						<p>МЫ ЖИВЕМ И ИГРАЕМ В ГОРОДЕ ФУТБОЛА</p>
					</a>
				</div>
				</div>
			</div>
		</div>
    </header>