<div class="livetable_block">
		<div class="livetable-header">
			<div class="livetable_label">LIVE - ТАБЛО:</div>
			<div class="livetable_tabs">
				<div class="tabs-button active">ВЧЕРА (4)</div>
				<div class="tabs-button">СЕГОДНЯ (2)</div>
				<div class="tabs-button">СЕЙЧАС (0)</div>
				<div class="tabs-button">ЗАВТРА (1)</div>
			</div>
			<div class="livetable_controls">
				<button class="livetable-open">РАСКРЫТЬ LIVE-ТАБЛО</button>
				<button class="livetable-close">СКРЫТЬ LIVE-ТАБЛО</button>
			</div>
		</div>
		<div class="livetable-content">
			<div class="livetable-content-inner">
				<div class="livetable-item">
					<div class="livetable-item-name">ПФЛ</div>
					<div class="livetable-item-row">
						<div class="livetable-item-column">12:00</div>
						<div class="livetable-item-column">ЗНАМЯ ТРУДА  - БАВАРИЯ</div>
						<div class="livetable-item-column">4 : 2</div>
					</div>
				</div>
				<div class="livetable-item">
					<div class="livetable-item-name">ПЕРВЕНСТВО М.О</div>
					<div class="livetable-item-row">
						<div class="livetable-item-column">12:00</div>
						<div class="livetable-item-column">ЗНАМЯ ТРУДА  - БАВАРИЯ</div>
						<div class="livetable-item-column">4 : 2</div>
					</div>
				</div>
				<div class="livetable-item">
					<div class="livetable-item-name">ВЕТЕРАНЫ 11 НА 11</div>
					<div class="livetable-item-row">
						<div class="livetable-item-column">12:00</div>
						<div class="livetable-item-column">ЗНАМЯ ТРУДА  - БАВАРИЯ</div>
						<div class="livetable-item-column">4 : 2</div>
					</div>
					<div class="livetable-item-row">
						<div class="livetable-item-column">12:00</div>
						<div class="livetable-item-column">ЗНАМЯ ТРУДА  - БАВАРИЯ</div>
						<div class="livetable-item-column">4 : 2</div>
					</div>
				</div>
				<div class="livetable-item">
					<div class="livetable-item-name">ЛЮБИТЕЛЬСКИЙ 8 НА 8</div>
					<div class="livetable-item-row">
						<div class="livetable-item-column">12:00</div>
						<div class="livetable-item-column">ЗНАМЯ ТРУДА  - БАВАРИЯ</div>
						<div class="livetable-item-column">4 : 2</div>
					</div>
				</div>
			</div>
		</div>
	</div>