{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container-2">
	{% include "partials/livetable.twig" %}
	<div class="main-content-inner">
		<div class="left-block">
			{% include "partials/main-news.twig" %}

			<img style="margin-bottom: 28px; width: 100%;" src="./assets/images/banner_adv.jpg" alt="">
			
			<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a class="breadcrumbs__link" href="" itemprop="item"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1"></span><span class="breadcrumbs__separator"> / </span><span class="breadcrumbs__current">Наши работы</span></div>

			<div class="category-news-block">
				<div class="category-news-header">
					<div class="category-news-header-img"><img src="./assets/images/newsfeed.svg" alt=""></div>
					<div class="category-news-header-info">
						<div class="category-news-header-name">НОВОСТИ</div>
						<select name="" id="">
						{% for item in 0..5 %}
							<option value="">Новости</option>    
						{% endfor %}			
						</select>
					</div>
				</div>
				<div class="category-news-list">
					<div class="category-news-date">22 ИЮЛЯ 2019</div>
					{% for item in 0..10 %}
					<div class="main-news-item">
						<div class="main-news-item-time">14:28</div>
						<div class="main-news-item-name"><a href="">В Орехово-Зуево прошел турнир детских команд по футболу, посвященный столеию города</a></div>
						<div class="main-news-item-cat">Юношеский футбол</div>
					</div>
					{% endfor %}	
				</div>
				<ul data-v-82963a40="" class="pagination list">
					<li data-v-82963a40="" class="pagination__pg-num active"><a data-v-82963a40="" tabindex="0">1</a></li>
					<li data-v-82963a40="" class="pagination__pg-num"><a data-v-82963a40="" tabindex="0">2</a></li>
					<li data-v-82963a40="" class="pagination__pg-num"><a data-v-82963a40="" tabindex="0">3</a></li>
					<li data-v-82963a40="" class="pagination__pg-num"><a data-v-82963a40="" tabindex="0">4</a></li>
				</ul>
			</div>	
				
		</div>
		
		{% include "partials/sidebar.twig" %}
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}