{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container-2">
	{% include "partials/livetable.twig" %}

	<div class="main-banner" style="background-image: url(./assets/images/banner.jpg);">
		<div class="main-banner-title">В Орехово-Зуево прошел турнир детских команд по футболу, посвященный столеию города</div>
		<div class="main-banner-text">В подмосковном Орехово-Зуеве прошел детский футбольный турнир</div>
		<div class="main-banner-info">
			<div class="main-banner-date">25.09.2018</div>
			<a class="main-banner-comments" href="">128</a>
		</div>
	</div>
	<div class="main-content-inner">
		<div class="left-block">
			{% include "partials/main-news.twig" %}
			<div class="article-preview-list">
				<div class="article-preview">
					<a class="article-preview-img" href=""><img src="./assets/images/news.jpg" alt=""></a>
					<div class="article-preview-info">
						<div class="article-preview-cat">Футбол / РПЛ</div>
						<div class="article-preview-name"><a href="">Летний Чемпионат 8 на 8 сезона 2019</a></div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
				<div class="article-preview">
					<a class="article-preview-img" href=""><img src="./assets/images/news.jpg" alt=""></a>
					<div class="article-preview-info">
						<div class="article-preview-cat">Футбол / РПЛ</div>
						<div class="article-preview-name"><a href="">Летний Чемпионат 8 на 8 сезона 2019</a></div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
			</div>
			<div class="video-of-the-day">
				<div class="video-block youtube" data-embed="UTgijnMNr6s" data-aos="fade-up">
	        		<div class="play-button">
	            		<img src="./assets/images/play.svg" alt="">
	        		</div> 
	    		</div>
	    		<div class="video-of-the-day_info">
	    			<div class="tag tag_video">Видео дня</div>
	    			<a href="" class="video-of-the-day_name">«Барселона» представила Гризманна</a>
	    			<div class="video-of-the-day_text">Обзор мужского финала Уимблдона.</div>
	    			<a class="all-videos" href="">Все видео</a>
	    		</div>
			</div>
			<div class="news-list">
				<div class="news-item">
					<a href="" class="news-item-photo">
						<img src="./assets/images/news.jpg" alt="">
					</a>
					<div class="news-item-info">
						<a href="" class="news-item-name">В Орехово‑Зуеве прошел турнир детских команд по футболу, посвященный столетию города</a>
						<div class="news-item-text">В подмосковном Орехово-Зуеве прошел детский футбольный турнир</div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
				<div class="news-item">
					<a href="" class="news-item-photo">
						<img src="./assets/images/news.jpg" alt="">
					</a>
					<div class="news-item-info">
						<a href="" class="news-item-name">В Орехово‑Зуеве прошел турнир детских команд по футболу, посвященный столетию города</a>
						<div class="news-item-text">В подмосковном Орехово-Зуеве прошел детский футбольный турнир</div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
				<img style="margin-bottom: 28px;width:100%;" src="./assets/images/banner_adv.jpg" alt="">
				<div class="news-item">
					<a href="" class="news-item-photo">
						<img src="./assets/images/news.jpg" alt="">
					</a>
					<div class="news-item-info">
						<a href="" class="news-item-name">В Орехово‑Зуеве прошел турнир детских команд по футболу, посвященный столетию города</a>
						<div class="news-item-text">В подмосковном Орехово-Зуеве прошел детский футбольный турнир</div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
				<div class="news-item">
					<a href="" class="news-item-photo">
						<img src="./assets/images/news.jpg" alt="">
					</a>
					<div class="news-item-info">
						<a href="" class="news-item-name">В Орехово‑Зуеве прошел турнир детских команд по футболу, посвященный столетию города</a>
						<div class="news-item-text">В подмосковном Орехово-Зуеве прошел детский футбольный турнир</div>
						<div class="article-preview-info-bottom">
							<div class="article-preview-views">
								<svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.51918 0.648499C4.21865 0.648499 2.13242 1.94938 0.592992 4.06236C0.467375 4.23547 0.467375 4.47732 0.592992 4.65043C2.13242 6.76595 4.21865 8.06683 6.51918 8.06683C8.8197 8.06683 10.9059 6.76595 12.4454 4.65297C12.571 4.47986 12.571 4.23802 12.4454 4.0649C10.9059 1.94938 8.8197 0.648499 6.51918 0.648499ZM6.6842 6.96961C5.15709 7.0689 3.89599 5.76801 3.99205 4.1871C4.07087 2.88367 5.09305 1.82718 6.35415 1.74572C7.88126 1.64644 9.14236 2.94732 9.0463 4.52823C8.96502 5.82911 7.94284 6.8856 6.6842 6.96961ZM6.60785 5.76292C5.78518 5.81638 5.10536 5.1163 5.15955 4.26602C5.20143 3.56339 5.75316 2.99569 6.43297 2.94986C7.25564 2.8964 7.93545 3.59649 7.88126 4.44677C7.83693 5.15194 7.28519 5.71965 6.60785 5.76292Z" fill="#C4C4C4"/>
								</svg>
								28
							</div>
							<a href="" class="article-preview-comments">
							<svg height="12" viewBox="0 0 511.072 511.072" width="12" xmlns="http://www.w3.org/2000/svg">
								<path d="M74.39 480.536H38.177l25.607-25.607c13.807-13.807 22.429-31.765 24.747-51.246-36.029-23.644-62.375-54.751-76.478-90.425C-2.04 277.611-3.811 238.37 6.932 199.776c12.89-46.309 43.123-88.518 85.128-118.853 45.646-32.963 102.47-50.387 164.33-50.387 77.927 0 143.611 22.389 189.948 64.745 41.744 38.159 64.734 89.63 64.734 144.933 0 26.868-5.471 53.011-16.26 77.703-11.165 25.551-27.514 48.302-48.593 67.619-46.399 42.523-112.042 65-189.83 65-28.877 0-59.01-3.855-85.913-10.929-25.465 26.123-59.972 40.929-96.086 40.929zm182-420c-124.039 0-200.15 73.973-220.557 147.285-19.284 69.28 9.143 134.743 76.043 175.115l7.475 4.511-.23 8.727c-.456 17.274-4.574 33.912-11.945 48.952 17.949-6.073 34.236-17.083 46.99-32.151l6.342-7.493 9.405 2.813c26.393 7.894 57.104 12.241 86.477 12.241 154.372 0 224.682-93.473 224.682-180.322 0-46.776-19.524-90.384-54.976-122.79-40.713-37.216-99.397-56.888-169.706-56.888z" fill="#c4c4c4"/>
							</svg>
							128
							</a>
							<div class="article-preview-date">25.09.2018</div>
						</div>
					</div>
				</div>
			</div>
			<div class="open-all-news"><a href="">Посмотреть все статьи</a></div>
		</div>
		{% include "partials/sidebar.twig" %}
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}