{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container-2">
	{% include "partials/livetable.twig" %}
	<div class="main-content-inner">
		<div class="left-block">
			{% include "partials/main-news.twig" %}
	
			<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a class="breadcrumbs__link" href="" itemprop="item"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1"></span><span class="breadcrumbs__separator"> / </span><span class="breadcrumbs__current">Наши работы</span></div>

			<div class="copyright-content">
				<h2>Год назад сорвался трансфер Педро в «Реал». Теперь его хочет ЦСКА</h2>
				<p>ЦСКА не оставляет надежд подписать форварда в летнее трансферное окно. Следом за новостью об интересе «армейцев» к нападающему «Ливерпуля» Тайво Авонийи появилась информация о том, что московский клуб предложил бразильскому «Флуминенсе» 12 млн евро за 22-летнего форварда Педро Абреу. Кто же это такой? </p>
				<img src="./assets/images/news-big.jpg" alt="">
				<h3>Где играл потенциальный новичок ЦСКА?</h3>
				<p>Педро начал заниматься футболом в восемь лет. Свои первые игроцкие навыки приобрёл в спортивной школе клуба «Фламенго» — принципиального соперника «Флуминенсе». Но дорасти до молодёжной команды парень так и не смог. Педро было 14, когда ему указали на дверь. К счастью, долго без клуба бразильцу сидеть не пришлось – его «подобрал» выступающий в Бразильской Серии С «Дуки-ди-Кашиас» из одноименного города. С тех пор карьера парня пошла в гору. В новом клубе Педро стал регулярно получать игровое время и много забивать. В итоге бразильцем заинтересовались скауты «Флуминенсе», после чего пригласили его на просмотр. 16-летний форвард хорошо себя показал на тренировках и заслуженно получил место в молодёжной команде.</p>
				<p>На профессиональном уровне Педро дебютировал уже в марте 2016 года в игре с «Крисиумой», а свой первый гол забил в июле 2017 года, в матче с печально известным «Шапекоэнсе». С тех пор за свой нынешний клуб нападающий отличился ещё 14 раз в бразильской Серии А.</p>
				<h4>Кто интересовался Педро?</h4>
				<p>Ажиотаж вокруг фамилии Педро начался в сезоне-2018. К концу августа того года 21-летний бразилец наколотил 10 мячей и отдал 2 голевые передачи в 16 играх, получив свой первый вызов во взрослую сборную страны от Тите.</p>
				<p>Тогда же молодым бразильцем заинтересовались «Милан», «Рома», «Севилья», «Бордо» и даже мадридский «Реал», который оказался намного настойчивее своих конкурентов. За Педро «Королевский клуб» был готов выложить около 30 млн евро. Однако сделка в последний момент сорвалась. В игре с «Крузейро» нападающий получил травму, после чего его унесли с поля. Врачи диагностировали у форварда разрыв крестообразных связок и пообещали вернуть его в строй лишь через полгода. Про переход в «Реал» игроку пришлось забыть – «сливочные» не стали рисковать, подписывая травмированного форварда.</p>
				<p>«Мы уже договорились о сделке с семьёй футболиста и обоими клубами. Оставалось только подписать соглашение», — с горечью вспоминал агент Педро Марсио Джуньи.</p>
				<p>Восстановиться бразилец сумел только к концу апреля нынешнего года. За довольно короткий срок Педро набрал форму и продолжил забивать в чемпионате. Сейчас на его счету 3 мяча в 5 матчах.</p>
				<h4>Кто интересовался Педро?</h4>
				<p>Главная особенность бразильца – его голевое чутье. Педро настоящий наконечник атаки, способный в нужный момент подставить ногу под прострел, вколотить мяч в сетку головой или просто запихнуть его в ворота любой другой частью тела. Благодаря высокому росту и крепкому телосложению форвард уверенно себя чувствует в силовой борьбе и в игре «на втором этаже». При этом форвард достаточно техничен и обладает неплохим дриблингом. Также Педро хорош в подыгрыше. Поставить корпус, получив мяч спиной к воротам, а затем удачно отпасовать на партнёра или сыграть с ним в стеночку не проблема для бразильца.</p>
			</div>	
			<div class="article-footer__row">
	            <div class="article-source">
	                <p>Источник: <a href="" target="_blank">«Чемпионат»</a></p>
	                <p>Заглавное фото: РИА Новости</p>
	            </div>
	            <div class="article-feedback">
	                <a class="js-feedback-popup-trigger" href="">Сообщить об ошибке</a> 
	            </div>
        	</div>	
        	<div class="share-post">
        		<div class="share-post-text">Мне понравилась статья! Поделиться с друзьями: </div>
        		<div class="share-post-ya">
        			<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="https://yastatic.net/share2/share.js"></script>
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
        		</div>
        	</div>
        	<div class="copyright-autor">
        		<div class="autor-ava"><img src="./assets/images/ava.jpg" alt=""></div>
        		<div class="autor-info">
        			<div class="autor-title">Автор:</div>
        			<a href="" class="autor-name">Иванов Иван</a>
        			<div class="autor-job">генеральный директор Yandex</div>
        		</div>
        	</div>
		</div>
		
		{% include "partials/sidebar.twig" %}
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}